body {
  margin: 0;
  text-align: center;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bog.png");
  background-size: 100vw 100vh;
}

canvas {
  margin: auto;
}
