body {
    text-align: center;
    font-family: 'Arvo', serif;
}

h1 {
		padding: 10px 0;
		color: white;
		background-color: black;
}

.info-box {
	display: flex;
	max-width: 400px;
	margin: auto;
}

.score,
.lives {
	width: 50%;
}