body
{
    text-align: center;
}

#score {
  z-index: 3; 
  padding-right: 20px;
  position:relative;
  margin-bottom: -40px;
  margin-right: auto; 
  margin-left: auto;
  width: 505px;
  text-align: right;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 30px;
}

#rules {
  border-radius: 30px;
  width: 600px;
  height: 70px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  padding-top: 7px;
  -webkit-text-stroke: 1px black;
}

#gameOverBanner,
#gameOverText { 
  position: relative;
  height: 150px;
  margin-right: auto; 
  margin-left: auto;
  width: 505px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 50px;
}

#gameOverBanner {
  margin-top: -250px;
  z-index: 4; 
  background-color:rgba(255,255,255,0.5);
}

#gameOverText {
  margin-top: -150px;
  z-index: 5; 
  color: purple;
}

@media (max-width: 1024px) {
  canvas {
    width: 100%;
  }
  #buttons {
    position: absolute;
    margin-left: 40%;
    width: 100%;
    margin-top: 600px;
  }

  button {
    margin-right: 15px;
    outline: 0;
    width: 90px;
    height: 90px;
    background: black;
    border: 4px solid;
    border-color: blue;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    text-align: center;
    vertical-align: center;
  }
}