/* zocial */
.zocial-twitter:before,
.zocial-github:before,
.zocial-gmail:before,
.zocial-linkedin:before {
	font-family: 'zocial', sans-serif;
	margin: 5px 10px 5px 25px;
}

/* main styles */

body {
    text-align: center;
    font-family: 'Arvo', serif;
}

h1 {
		padding: 5px 0;
		color: white;
		background-color: black;
}

a {
	color: #3399cc;
	text-decoration: none;
}

/* class styles */

.lives {
	width: 100%;
	font-size: 1.5em;
	max-width: 400px;
	margin: auto;
}