body {
    text-align: center;
    font-family: 'Arvo', serif;
}

h1 {
		padding: 5px 0;
		color: white;
		background-color: black;
}

.info-box {
	display: flex;
	max-width: 400px;
	margin: auto;
}

.lives {
	width: 100%;
	font-size: 1.5em;
}